<footer class="footer bg-dark py-4 mt-auto">
<div class="container">
    <span class="text-muted">
        &copy;CafeInsta 2022
    </span>
    <div class="text-muted">
        Designed by NeverDown
    </div>
</div>
</footer>
